@charset "ISO-8859-1";

body{
	
	background:#A9A9A9;
	
}
*{
	
	box-sizing: border-box;
	
	
	
}

label {
  display: inline-block;
}
.container {
 
    width: 1200px;
    margin: auto;
    padding:2px;
    background-color:#F8F8FF;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


.col-1 {
  float: left;
  width: 50%;
  margin-top: 6px;
 font-size:25px;

}

.col-2 {
  float: left;
  width: 50%;
  margin-top: 6px;
  font-size:25px;
 
}

.hcol-1{
  margin-top: 6px;
  text-align: center;
 font-family: 'Antonio';
 font-size:25px;
  font-weight: 500;
  
  
}
.hcol-2{
	margin-top: 6px;
  text-align: center;
  	margin-right:6px;
 padding:5px;
	
}
.col-full{
	margin-top:6px;
	font-size: 25px;
	margin-right:6px;
 padding:5px;
}
input[type='text'],
input[type='number'],
select{
    text-align: center;
    font-size: 18px;
    height: 35px;
    border: none;
    outline: none;
    background: transparent;
     border-bottom: 3px ridge #F8F8FF;
    width: 550px;
    margin: 3px;
    font-family:'Droid Serif', serif;
}
input[type='text']:focus,
input[type='number']:focus,
select:focus{
    border-bottom: 3px solid #DDA0DD;
    font-family:'Droid Serif', serif;
}
input[type='submit']{
  
    color: black;
    border: none;
    font-size: 20px;
    padding: 10px 35px;
    margin: 10px 0 8px 0;
    border-radius: 50px;
    outline: none;
    font-family: 'Playfair Display', serif;
}
input[type='submit']:hover{
    box-shadow: 0 0 15px white;
    background-color:  #F8F8FF;
}
#name{
	 text-align: center;
    font-size: 18px;
    height: 35px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 3px ridge #F8F8FF;
    font-family:'Droid Serif', serif;
	width: 100%;
	margin:3px;
}
td, th,tr {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: auto;
    overflow-x:auto;
    color: white;
    margin: 0;
}
th{
	color: black;
	
	
}
tr{
    font-family: Andalus,sans-serif;
    font-size: 20px;
    text-align: center;
}

td{
	width: 20px;
}

#tabledata{
	
	text-align: center;
    font-size: 18px;
    height: 35px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 3px ridge #F8F8FF;
    font-family:'Droid Serif', serif;
	width: 350px;
	margin:3px;
	
}
